*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.clearfix:after {
    content:"";
    display: block;
    clear:both;
}
.nav{
    width: 100%;
    height: 60px;
    background: #B40001;
}
.navi{
    width: 1170px;
    height: 60px;
    background: #B40001;
    margin: 0 auto;
}
.nav_left{
    background: url("../img/logo.jpg");
    width: 272px;
    height: 60px;
    color: #FFFAFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    float: left;
}
.nav_center{
    width: 773px;
    height: 60px;
    text-align: center;
    float: left;
}
.nav_ul{
    width: 505px;
    height: 60px;
    margin-left: 80px;
}
ul li{
    float: left;
    list-style: none;
}
.cap{
    width: 90px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    color: #F4E8F4;
}
.cap a{
    color: #F4E8F4;
}
.nav_right{
    width: 125px;
    height: 60px;
    color: #FFFAFF;
    font-size: 15px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    float: left;
}
.nav_right a{
    color: white;
}
.tbody{
    width: 100%;
}
.book_head {
    width: 1170px;
    height: 67px;
    margin: 0 auto;
    line-height: 67px;
}
.head1 {
    font-size: 25px;
    color: #3B3B3B;
    padding-left: 20px;
    padding-right: 20px;
}
.head2 {
    color: #9D9D9D;
    font-size: 12px;
}
.details{
    width: 1170px;
    margin: 0 auto;
  text-align: center;
}
.details h2{
    margin-top: 10px;
    margin: 0 auto;
    height: 65px;
    width: 1140px;
    line-height: 65px;
    color: #545454;
    border-bottom: 1px solid  #E6E6E6;
}
.detailss{
    width: 1170px;
    height: 75px;
    line-height: 75px;
    font-size: 12px;
    color: #9D9D9D;
}
.detailss span{
    line-height: 25px;
    height: 25px;
    margin-right: 40px;
}
.imgs{
    background: url("../img/people.png") 0 2px  no-repeat;
    padding-left: 15px ;
}
.details h5{
    margin-top: 50px;
}
.details p{
    font-size: 12px;
    line-height: 25px;
    text-indent: 2em;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
}
.down{
    width: 100%;
    height: 142px;
    background: #484443;
    margin-top: 25px;
}
.low{
    width: 1170px;
    height: 142px;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
}
.low_text{
    width: 1170px;
    height: 90px;
    padding-top: 40px;
}
h4{
    font-size: 12px;
    color: #C6C6C6;
    font-weight: normal;
}
h4 a{
    color: #C6C6C6;
}

